# Installing dependencies

In [ ]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

In [ ]:
pip install pandas  #for data analysis

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install seaborn #data visualization

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.1.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [ ]:
pip install numpy   # package for array computing with Python.

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

In [ ]:
#instialising dataset
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px

In [ ]:
data = pd.read_csv("/content/dataset_tree/Final_Dataset.csv - Sheet1.csv")

In [ ]:
data.head()

   S. NO.  ...                                             Source
0     1.0  ...  http://www.flowersofindia.net/catalog/slides/I...
1     2.0  ...       https://en.wikipedia.org/wiki/Aegle_marmelos
2     3.0  ...  http://www.pfaf.org/user/Plant.aspx?LatinName=...
3     4.0  ...  http://keyserver.lucidcentral.org/weeds/data/0...
4     5.0  ...  http://scialert.net/fulltext/?doi=ijp.2010.535...

[5 rows x 7 columns]

In [ ]:
data.tail()

    S. NO. Scientific Name   ... Layer Source
35     NaN              NaN  ...   NaN    NaN
36     NaN              NaN  ...   NaN    NaN
37     NaN              NaN  ...   NaN    NaN
38     NaN             BLUE  ...   NaN    NaN
39     NaN              RED  ...   NaN    NaN

[5 rows x 7 columns]

In [ ]:
data.columns

Index(['S. NO.', 'Scientific Name ', 'Common and Local name ',
       'Specialty/Type', 'Height ', 'Layer', 'Source'],
      dtype='object')

In [ ]:
data.shape #for no. of enteries in columns

(40, 7)

In [ ]:
data.describe()

          S. NO.    Height
count  35.000000  35.000000
mean   18.000000  20.457143
std    10.246951  10.702784
min     1.000000   4.000000
25%     9.500000  12.000000
50%    18.000000  20.000000
75%    26.500000  27.500000
max    35.000000  45.000000

In [ ]:
data.isnull() #checking for any null value

    S. NO.  Scientific Name   Common and Local name   ...  Height   Layer  Source
0    False             False                   False  ...    False  False   False
1    False             False                   False  ...    False  False   False
2    False             False                   False  ...    False  False   False
3    False             False                   False  ...    False  False   False
4    False             False                   False  ...    False  False   False
5    False             False                   False  ...    False  False    True
6    False             False                   False  ...    False  False   False
7    False             False                   False  ...    False  False   False
8    False             False                   False  ...    False  False   False
9    False             False                   False  ...    False  False   False
10   False             False                   False  ...    False  False   False
11   False             False                   False  ...    False  False   False
12   False             False                   False  ...    False  False   False
13   False             False                   False  ...    False  False   False
14   False             False                   False  ...    False  False   False
15   False             False                   False  ...    False  False   False
16   False             False                   False  ...    False  False   False
17   False             False                   False  ...    False  False   False
18   False             False                   False  ...    False  False   False
19   False             False                   False  ...    False  False   False
20   False             False                   False  ...    False  False   False
21   False             False                   False  ...    False  False   False
22   False             False                   False  ...    False  False    True
23   False             False                   False  ...    False  False    True
24   False             False                   False  ...    False  False    True
25   False             False                   False  ...    False  False   False
26   False             False                   False  ...    False  False   False
27   False             False                   False  ...    False  False   False
28   False             False                   False  ...    False  False    True
29   False             False                   False  ...    False  False    True
30   False             False                   False  ...    False  False   False
31   False             False                   False  ...    False  False    True
32   False             False                   False  ...    False  False    True
33   False             False                   False  ...    False  False    True
34   False             False                   False  ...    False  False   False
35    True              True                    True  ...     True   True    True
36    True              True                    True  ...     True   True    True
37    True              True                    True  ...     True   True    True
38    True             False                   False  ...     True   True    True
39    True             False                   False  ...     True   True    True

[40 rows x 7 columns]

In [ ]:
data.isnull().sum() #checking for any null value inside every columns

S. NO.                     5
Scientific Name            3
Common and Local name      3
Specialty/Type             6
Height                     5
Layer                      5
Source                    14
dtype: int64

# VISUALISATION

In [ ]:
import matplotlib.pyplot as plt

Average_populations = []

plt.hist(Average_populations, bins = 10)
plt.xlabel("Average_populations")
plt.ylabel("Frequency")

plt.show()

SyntaxError: ignored

# Working on image datashet

In [ ]:
pip install plantcv

Collecting plantcv
  Downloading https://files.pythonhosted.org/packages/92/1e/6e914b52f87d813a915357e772e9a0f387f7fa6ca0dfec2b3fee9aca434d/plantcv-3.10.0-py3-none-any.whl (207kB)
     |████████████████████████████████| 215kB 4.2MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from plantcv) (1.0.5)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.6/dist-packages (from plantcv) (0.16.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from plantcv) (1.18.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from plantcv) (2.8.1)
Requirement already satisfied: matplotlib>=1.5 in /usr/local/lib/python3.6/dist-packages (from plantcv) (3.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from plantcv) (0.22.2.post1)
Requirement already satisfied: dask in /usr/local/lib/python3.6/dist-packages (from plantcv) (2.12.0)
Collecting opencv-python<4,>=3.4
  Downloading https://files.pythonhosted.org/packages/e4/00/a70ce0da6a94f1a705a57911fda4f50f5f70cd9f805704c21878642211da/opencv_python-3.4.11.43-cp36-cp36m-manylinux2014_x86_64.whl (49.1MB)
     |████████████████████████████████| 49.1MB 81kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from plantcv) (1.4.1)
Requirement already satisfied: plotnine in /usr/local/lib/python3.6/dist-packages (from plantcv) (0.6.0)
Collecting dask-jobqueue
  Downloading https://files.pythonhosted.org/packages/9a/66/02ef5356b167039753135d9eeac52fc8a4354a567e9525e53f2e0db681a7/dask_jobqueue-0.7.1-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->plantcv) (2018.9)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->plantcv) (2.4.1)
Requirement already satisfied: pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->plantcv) (7.0.0)
Requirement already satisfied: PyWavelets>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->plantcv) (1.1.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from scikit-image->plantcv) (2.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->plantcv) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5->plantcv) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5->plantcv) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5->plantcv) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->plantcv) (0.16.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from plotnine->plantcv) (0.5.1)
Requirement already satisfied: descartes>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from plotnine->plantcv) (1.1.0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from plotnine->plantcv) (0.10.2)
Requirement already satisfied: mizani>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from plotnine->plantcv) (0.6.0)
Collecting distributed>=2.5.2
  Downloading https://files.pythonhosted.org/packages/53/54/b5cd5e1a24ec0fe7dc1518fc2193c6be30c4c8175ee8c02e7e2eb07d171a/distributed-2.28.0-py3-none-any.whl (652kB)
     |████████████████████████████████| 655kB 42.6MB/s
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->scikit-image->plantcv) (4.4.2)
Requirement already satisfied: palettable in /usr/local/lib/python3.6/dist-packages (from mizani>=0.6.0->plotnine->plantcv) (3.3.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (2.2.2)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (0.10.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (1.7.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (2.0.0)
Collecting cloudpickle>=1.5.0
  Downloading https://files.pythonhosted.org/packages/e7/e3/898487e5dbeb612054cf2e0c188463acb358167fef749c53c8bb8918cea1/cloudpickle-1.6.0-py3-none-any.whl
Collecting contextvars; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (5.1.1)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (50.3.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (1.0.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (3.13)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.5.2->dask-jobqueue->plantcv) (5.4.8)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.5.2->dask-jobqueue->plantcv) (1.0.1)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 9.3MB/s
Building wheels for collected packages: contextvars
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7666 sha256=d6b9841737b782200d38b981809c2c07ba666168409246006b622c3a5527f9cd
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
Successfully built contextvars
ERROR: tensorflow-probability 0.11.0 has requirement cloudpickle==1.3, but you'll have cloudpickle 1.6.0 which is incompatible.
ERROR: gym 0.17.2 has requirement cloudpickle<1.4.0,>=1.2.0, but you'll have cloudpickle 1.6.0 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: opencv-python, cloudpickle, immutables, contextvars, distributed, dask-jobqueue, plantcv
  Found existing installation: opencv-python 4.1.2.30
    Uninstalling opencv-python-4.1.2.30:
      Successfully uninstalled opencv-python-4.1.2.30
  Found existing installation: cloudpickle 1.3.0
    Uninstalling cloudpickle-1.3.0:
      Successfully uninstalled cloudpickle-1.3.0
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed cloudpickle-1.6.0 contextvars-2.4 dask-jobqueue-0.7.1 distributed-2.28.0 immutables-0.14 opencv-python-3.4.11.43 plantcv-3.10.0

In [ ]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.18.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [ ]:

# Import Libraries 
from plantcv import plantcv as pcv
import matplotlib

In [ ]:
class options:
    def __init__(self):
        self.image = "https://github.com/adiboy17/envi/blob/master/plantimg/coco.jpg"
        self.debug = "plot"
        self.writeimg= False
        self.result = "./vis_tutorial_results"
        self.outdir = "." # Store the output to the current directory
        
# Get options
args = options()

# Set debug to the global parameter 
pcv.params.debug = args.debug

In [ ]:
img, path, filename = pcv.readimage(filename=args.image)

RuntimeError: ignored